html {
  font-family: "Libre Baskerville", serif;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.banner {
  background-color: #DBCAED;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-drop {
  margin: auto;
  padding: 0;
  list-style-type: none;
  background-color: #6B5672;
  display: none;
}

.nav-drop a {
  display: block;
  padding: 0.5em;
  color: #fff;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -2em;
  right: 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-drop a:hover {
  background-color: #9064BD;
}

.nav-check:checked ~ .nav-drop {
  display: block;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  background-color:#D1C1E2;
  border-radius: 12px;
}

.sign-up {
  background-color:#9064BD;
  color: #fff;
  border-radius: 12px;
}

header nav .sign-up:hover {
  background-color:#432D59;
}

.banner-btn {
  margin-right: auto;
  background-color: #fff;
  border-radius: 12px;
  text-decoration: none;
}

.banner-btn:hover {
  background-color:#9064BD;
  color: #fff;
}

.large-nav {
  display: none;
}

.banner h2 {
  color: #432D59;
}

section {
  background-color: #D1C1E2;
}

.quote {
  background-color: #fff;
}

footer {
 background-color: #6B5672;
}

footer nav a, footer p {
  color: #fff;
}

footer a {
  text-decoration: underline;
}

footer nav a:hover{
  color: #432D59;

}

hr {
  border-color: #fff;
}

@media only screen and (min-width: 38em) {
  .mobile {
    display: none;
  }

  .large-nav {
    display: block;
  }

  footer {
    height: 10em;
  }
}
