html {
  font-family: "Libre Baskerville", serif;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

nav a {
  text-decoration: none;
  color: #000;
}

.sign-up {
  background-color:#9064BD;
  color: #fff;
  border-radius: 8px;
}

.large-nav {
  display: none;
}

#nav label {
  display: inline-block;
}

#nav ul li {
  display: block;
}

#nav ul {
  display: none;
}
#nav input:checked ~ ul {
  display: block;
}

#nav ul li {
    display: block;
  }

@media only screen and (min-width: 38em) {
  .mobile {
    display: none;
  }

  .large-nav {
    display: inline-block;
  }
}
