html {
  font-family: "Libre Baskerville", serif;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

nav a {
  text-decoration: none;
  color: #000;
}

.sign-up {
  background-color:#9064BD;
  color: #fff;
  border-radius: 8px;
}

.large-nav {
  display: none;
}

footer {
 background-color: #6B5672;
}

footer nav a, footer p {
  color: #B5CAE6;
}

@media only screen and (min-width: 38em) {
  .mobile {
    display: none;
  }

  .large-nav {
    display: block;
  }

  footer nav div {

  }

  footer {
    height: 10em;
  }
}
